﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ASSIGN1B.aspx.cs" Inherits="assignment1a_n01306505.ASSIGN1B" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
